html, body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
body {
  --primary-color: #54b948;
  --primary-dark-color: #47a03d;
  --secondary-color: #77dad9;
  --success-color: #77da99;
  --warning-color: #ffd551;
  --light-text-color: #efefef;
  --font-family: 'Montserrat', sans-serif;
  --light-color: #bbbbbb;
  --default-text-color: #c0c0c0;

  background-color: #333;
}
h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  margin: 0.3em 0;
  white-space: inherit;
}
h1 {
  line-height: 52px;
  font-size: 36px;
}
h2 {
  line-height: 42px;
  line-height: 40px;
}
p {
  margin: 0.5em 0;
}
a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
.container {
  max-width: 947px;
  width: 100%;
}
.primary-text {
  color: var(--primary-color);
}
.strong {
  font-weight: bold;
}
.nav {
  position: absolute;
  top: 30px;
  width: 100%;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
}
.nav-item {
  margin-right: 2em;
}
.no-margin {
  margin: 0;
}
.no-lineheight {
  line-height: 0;
}
.about-us {
  --light-text-color: #c0c0c0;
  background-color: #131313;
  padding: 2em 0;
  box-sizing: border-box;
}
.about-image {
  margin: 0 0 0 3em;
}
