html, body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
body {
  --primary-color: #54b948;
  --primary-dark-color: #47a03d;
  --secondary-color: #77dad9;
  --success-color: #77da99;
  --warning-color: #ffd551;
  --light-text-color: #efefef;
  --font-family: 'Montserrat', sans-serif;
  --light-color: #bbbbbb;
  --default-text-color: #c0c0c0;

  background-color: #333;
}
h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  margin: 0.3em 0;
  white-space: inherit;
}
h1 {
  line-height: 52px;
  font-size: 36px;
}
h2 {
  line-height: 42px;
  line-height: 40px;
}
p {
  margin: 0.5em 0;
}
a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
.container {
  max-width: 947px;
  width: 100%;
}
.primary-text {
  color: var(--primary-color);
}
.strong {
  font-weight: bold;
}
.thin {
  font-weight: normal;
}
.nav {
  position: absolute;
  top: 30px;
  width: 100%;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
}
.nav-item {
  margin-right: 2em;
}
.no-margin {
  margin: 0;
}
.no-lineheight {
  line-height: 0;
}
.about-us {
  background-color: #131313;
  padding: 2em 0;
  box-sizing: border-box;
}
.about-image {
  margin: 0 0 0 3em;
}
.how-we-work {
  background-image: url(/assets/how-we-work.jpg);
  background-size: cover;
  background-position: center;
  padding: 3em 0;
}
.how-we-work-card {
  display: block;
  width: 580px;
}
.steps {
  padding: 2em 0;
  background-color: #1a1a1a;
}
.steps ag-card {
  min-width: 30%;
  display: block;
  height: 430px;
}
.steps ag-card:nth-child(2) {
  margin: 0 1em;
}
.steps h2 {
  line-height: 1em;
}
.whats-new {
  background-color: #1a1a1a;
}
.small-heading {
  font-size: 20px;
}

@media (max-width: 800px) and (orientation: portrait) {
  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
  }

  .carousel1-h1 {
    font-size: 23px;
  }

  .carousel1-h2 {
    font-size: 17px;
  }

  .about-image {
    margin: 0 0 1em;
  }

  .how-we-work-card {
    width: 100%;
  }

  .steps ag-card {
    width: 100%;
    height: auto;
  }

  .steps ag-card:nth-child(2) {
    margin: 1em 0;
  }

  .top-nav {
    display: none;
  }
}
