html, body {
  margin: 0;
  padding: 0;
}
body {
  --primary-color: #54b948;
  --primary-dark-color: #47a03d;
  --secondary-color: #77dad9;
  --success-color: #77da99;
  --warning-color: #ffd551;
  --font-family: 'Montserrat', sans-serif;
  --light-color: #efefef;
  --default-text-color: #ffffff;

  background-color: #333;
}
h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  margin: 0.3em 0;
}
p {
  margin: 0.5em 0;
}
